{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %} Add Post{% endblock title %}

{% block body %}

<center>
<h1>Post page</h1>
</center>
<div class="form-group container">
    <form class="row g-3" method = "POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.media }}
    {{ form|crispy }}
    {% comment %} {{ mulimg|crispy }} {% endcomment %}
        {% comment %} {% crispy form %} {% endcomment %}
    <button class = "btn btn-primary " type="update">submit</button>
    </form>
</div>
{% endblock body %}
